/* css/hero.css */
.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Lora', sans-serif;
  z-index: 1;
}

.hero-content {
  max-width: 50%;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #8d5b3e;
}

.hero-content p {
  font-size: 1.25rem;
  font-weight: 400;
}

.hero-image {
  width: 100%;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Mobile (≤ 767px) */
@media (max-width: 767px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    max-width: 100%;
    padding: 1rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

/*  Tablets (601px – 900px) */
@media (min-width: 600px) and (max-width: 900px) {
  .hero-content {
    max-width: 80%;
    margin: 0 auto;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.125rem;
  }
}

/* Desktop (≥ 1024px) */
@media (min-width: 1024px) {
  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1.25rem;
  }
}

/* Ultra Wide Screens (≥ 2000px) */
@media (min-width: 2000px) {
  .hero-image img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }

  .hero-content {
    max-width: 40%;
  }
}
