.sobre-mim{
    width: 100vw;
    background-color: #BF4D0B;
    font-family: 'Lora', sans-serif;
}

.sobre-container{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
}

.sobre-item-1{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3%;
    position: relative;
}

.sobre-item-2{
    display: flex;
    flex-direction: row-reverse; 
    padding-top: 3%;
    align-items: center;
    position: relative;
}

.img-1-sobre{
    width: 600px;
    display: block;
}

.sobre-texto-1{
    position: absolute;
    left: 35vw;
    background-color: #FFFFFF;
    color:rgba(115, 60, 29, 0.75);
    width: 690px;
    height: 470px;
    padding: 4%;
    padding-left: 10%;
    font-size: 20px;
    text-align: right;
    line-height: 35px;
}

.sobre-texto-1 h2{
    font-size: 34px;
}

.sobre-texto-2{
    position: absolute;
    right: 35vw;
    background-color: #FFFFFF;
    color:rgba(115, 60, 29, 0.75);
    width: 690px;
    padding: 4%;
    padding-right: 10%;
    font-size: 20px;
    text-align: left;
    line-height: 35px;
}

.img-2-sobre{
    width: 600px;
    display: block;
}

/* Para celulares */

@media (max-width: 400px) {

    .sobre-mim{
        width: 100vw;
        height: auto;
    }

    .sobre-container{
        padding-top: 10%;
        padding-left: 2%;
        padding-right: 2%;
    } 

    .sobre-item-1{
        position: relative;
        flex-direction: column;
        align-items:start;
    } 
    
    .sobre-item-2{
        flex-direction: column-reverse;
        align-items: end;
    }

    .img-1-sobre{
        position: relative;
        width: 80vw;
        left: 1vw;
        z-index: 1;
    }

    .sobre-texto-1 h2{
        font-size: 20px;
    }

    .sobre-texto-1{
        position: relative;
        width: 75vw;
        height: auto;
        font-size: 16px;
        top: -8vw;
        left: 12vw;
        z-index: 2;
        padding: 4%;
    }

    .sobre-texto-2{
        width: 75vw;
        height: auto;
        font-size: 16px;
        position: relative;
        top: -8vw;
        left: -12vw;
        padding: 4%;
    }

    .img-2-sobre{
        position: relative;
        width: 75vw;
        left: -1vw;
    }
}
